body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#app {
    position: relative;
    width: 100vw;
    height: 100vh;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#counter-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

button {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#qrcode {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    z-index: 3;
    display: none;
}

#densitySlider {
    position: absolute;
    
    top: 48px;
    right: 40px;
    z-index: 2;
}

#densityValue {
    position: absolute;
    
    top: 18px;
    right: 105px;
    z-index: 2;
}
