body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#app {
    position: relative;
    width: 100vw;
    height: 100vh;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#counter-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}


#counter-text {
    position: absolute;
    text-align: center;
    top: 20px;
    left: 23px;
    z-index: 2;
}


button {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#qrcode {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    z-index: 3;
    display: none;
}

#densitySlider {
    position: absolute;
    
    top: 48px;
    right: 40px;
    z-index: 2;

    width: 180px; /* Set thumb width to at least 44px */
    height: 50px; /* Set thumb height to at least 44px */

}


#densitySlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 44px; /* Set thumb width to at least 44px */
    height: 44px; /* Set thumb height to at least 44px */
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%; /* Make it circular */
  }

  #densitySlider::-moz-range-thumb {
    width: 44px; /* Set thumb width to at least 44px */
    height: 44px; /* Set thumb height to at least 44px */
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%; /* Make it circular */
  }



#densityValue {
    position: absolute;
    
    top: 18px;
    right: 120px;
    z-index: 2;
}
